/* Navbar adjustments for mobile devices */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block; /* Show toggle button on mobile */
  }
  .navbar-nav {
    display: flex; /* Enable flexbox for mobile layout */
    justify-content: space-between; /* Distribute links evenly */
    align-items: center; /* Align links vertically */
  }
}
/* Estilos para el pie de página */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 16px;
  margin: 0;
}
